body {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: rgb(151, 247, 183);
      font-family: 'Poppins', sans-serif;
}
    .calendar {
      position: relative;
      width: 450px;
      height: auto;
      background-color: #fff;
      box-sizing: border-box;
    }
    
   .imag{
      
      width: 100%;
      height: 150px;
      background-color: #68bd88;
      padding: 10px;
      box-sizing: border-box;
    }

    h2,h3{
      color: #fff;
      text-shadow: 0 2px 2px rgba(0,0,0,.2);
      text-align: center;

    }

    h2{
       font-size: 30px;
    }

    .calendar  .date{
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      grid-gap: 10px;
      box-sizing: border-box;
    }

    .calendar .date div{

      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      color: #262626;
    }

    .calendar .date div.day
    {
      font-weight: 700;   
    }
    .calendar .date div.day:first-child,
    .calendar .date div.number:nth-child(7n+1){

      color: #ff685d;
      font-weight:700;
    }

    .calendar .date div.number.active,
    .calendar .date div.number:hover{
       
      background-color: #009688;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
    }
      
      a{
      
      color:   rgb(151, 247, 183);

      text-decoration: none;
      
      }
      a.sunday{
        color: #ee0654;
        text-decoration: none;
      }

    @media only screen and (max-width: 600px) {
      body {
        background-color: rgb(250, 194, 250);
      }
      .calendar {
        width: 300px;
      }
      .imag{
        width: 100%;
        height: auto;
        background-color: #cc4891;
        padding: 10px;
        box-sizing: border-box;
      }
      .calendar  .date{
      padding: 15px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
      grid-gap: 10px;
      box-sizing: border-box;
    }

    .calendar .date div{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      color: #262626;
    }

    .calendar .date div.day
    {
      font-weight: 400;   
    }
    
    .calendar .date div.day:first-child,
    .calendar .date div.number:nth-child(7n+1){
      color: #ff685d;
      font-weight:700;
    }

    .calendar .date div.number.active,
    .calendar .date div.number:hover{
       
      background-color: #3c8aff;
      color: #fff;
      font-weight: 400;
      cursor: pointer;
    }
    
      a{
      
      color: rgb(250, 194, 250);
      text-decoration: none;
      }
      a.sunday{
        color: #9800d4;
        text-decoration: none;
      }
      }
    